<?php
return 
array (
  'cfg_contact_company' => 'gem歌迷会',
  'cfg_contact_weixin' => 'gem官方后援会',
  'cfg_contact_wxcode' => '2.png',
  'cfg_contact_weibo' => 'gem官方微博',
  'cfg_contact_wbcode' => '/upload/logo/201804/381da49fd2168eb21abac093e20170bd.png',
  'cfg_contact_proxy' => '毛线',
  'cfg_contact_mobile' => '15674000000',
  'cfg_contact_telphone' => '15609837685',
  'cfg_contact_tel400' => '4000000',
  'cfg_contact_tencentq' => '2239294667',
  'cfg_contact_foxmail' => 'gem@qq.com',
  'cfg_contact_address' => '北京朝阳区啦啦啦啦',
  'cfg_contact_location' => '香港啦啦啦 ',
)
?>