<?php
return array(
    'system' => array(
        'connect' => array(
            'setup' => '数据库连接信配置成功'
        ),
        'website' => array(
            'setup' => '网站基本信息配置成功'
        ),
        'contact' => array(
            'setup' => '网站联系方式信息配置成功'
        ),
        'email' => array(
            'setup' => '邮件服务器参数配置成功'
        ),
        'sms' => array(
            'setup' => '短信接口参数配置成功'
        ),
        'attach' => array(
            'setup' => '短信接口参数配置成功'
        ),
        'markup' => array(
            'setup' => '水印基本信息配置成功'
        ),
        'brckup' => array(
            'setup' => '短信接口参数配置成功'
        )
    ),
    'upload' => array(
        'type' => '上传的文件类型不匹配',
        'size' => '上传的文件大小超过限制',
        'error' => '上传失败',
    ),
    'member' => array(
        'master' => array(
            'login' => array(
                'suc' => '管理员登录成功',
                'err' => '管理员用户或密码不正确'
            ),
            'clear' => array(
                'suc' => '管理员删除成功',
                'err' => '管理员删除失败'
            ),
            'add' => array(),
            'edit' => array()
        ),
        'member' => array()
    ),
    'catalog' => array(
        'type' => array(
            'news' => '新闻',
            'evaluate' => '评测',
            'technique' => '攻略',
            'photo' => '美图',
            'video' => '视频',
            'game' => '游戏库'
        ),
        'add' => array(
            'suc' => '频道节点信息添加成功',
            'err' => '频道节点信息添加失败',
            'rpt' => '频道节点信息已存在，请重新添加'
        ),
        'edit' => array(
            'suc' => '频道节点信息修改成功',
            'err' => '频道节点信息修改失败'
        ),
        'clear' => array(
            'suc' => '频道节点信息删除成功',
            'err' => '频道节点信息删除失败'
        ),
        'order' => '频道节点排序成功'
    ),
    'content' => array(
        'add' => array(
            'suc' => '资讯信息添加成功',
            'err' => '资讯信息添加失败',
            'rpt' => '资讯信息已存在，请重新添加'
        ),
        'edit' => array(
            'suc' => '资讯信息修改成功',

            'err' => '资讯信息修改失败'
        ),
        'clear' => array(
            'suc' => '资讯信息删除成功',
            'err' => '资讯信息删除失败'
        ),
        'clearx' => array(
            'suc' => '游戏信息删除成功',
            'err' => '游戏信息删除失败'
        ),
        'status' => array
        (
            't' => '重点推荐',
            'r' => '热门推荐',
            'f' => '轮播图片',
            'h' => '热门游戏'
        ),
//		'order' => '资讯排序成功'
    )
)
?>