<?php
return 
array (
  'cfg_website_name' => '好玩游戏网',
  'cfg_website_title' => '更多网页小游戏',
  'cfg_website_domain' => 'www.123.com',
  'cfg_website_logo' => '/upload/logo/201804/30c22a4cfeb133c6d38555466b184d1d.jpg',
  'cfg_website_key' => '好玩，最新',
  'cfg_website_desc' => '非常好玩的小游戏',
  'cfg_website_corp' => 'gem的版权',
  'cfg_website_mail' => '2239294667@qq.com',
  'cfg_website_cert' => '123备案',
  'cfg_website_link' => 'rewrite',
  'cfg_website_ext' => '',
)
?>