<?php
return 
array (
  'cfg_attach_upload' => 'upload/',
  'cfg_attach_tmp' => '/upload/tmp',
  'cfg_attach_path' => 'Ym',
  'cfg_attach_name' => 'md5',
  'cfg_attach_imgtype' => 'jpg|png|bmp|jpeg|gif',
  'cfg_attach_maxsize' => '204800',
  'cfg_attach_cut' => '0',
  'cfg_attach_width' => '200',
  'cfg_attach_height' => '180',
  'cfg_attach_markup' => '0',
  'cfg_attach_ftype' => 'rar|doc|docx|pptx|ppt|pdf|txt|xls|xlsx',
  'cfg_attach_fsize' => '2048000',
)
?>