<?php
return 
array (
  'cfg_backup_type' => '0',
  'cfg_backup_size' => '1024',
  'cfg_backup_num' => '500',
  'cfg_backup_ai' => '1',
  'cfg_backup_struct' => '1',
  'cfg_backup_charset' => 'auto',
  'cfg_backup_code' => '0',
  'cfg_backup_path' => '/backup/',
  'cfg_backup_import' => 'replace',
  'cfg_backup_method' => '',
  'cfg_backup_convert' => '',
  'cfg_backup_delay' => '5',
  'cfg_backup_memo' => '',
)
?>